<div class="container user-bar">
  <div class="user-bar-outer">
    <div class="user-bar-inner">
      <form action="/search">
        <h2 class="mb-4 text-center">使用者登入</h2>
        {{> message}}
        <div class="form-group">
            <input type="text" class="form-control mb-3" placeholder="您的信箱....">
            <input type="password" class="form-control mb-3" placeholder="您的密碼....">
            <button class="btn btn-primary" type="submit">登入</button> 
        </div>
      </form>
    </div>
  </div>
</div>