<div class="container user-bar">
  <div class="user-bar-outer">
    <div class="user-bar-inner">
      <form action="/users/register" method="POST">
        <h2 class="mb-4 text-center">使用者 <span class="text-warning">註冊</span></h2>
        {{> message}}
        <div class="form-group">
          <label for="register-email" class="text-white h5">使用者名稱 :  <span class="text-danger">*</span></label>
          <input type="text" name="name" id="register-email" value="{{ name }}" class="form-control" placeholder="王大明">
        </div>
        <div class="form-group">
          <label for="register-email" class="text-white h5">信箱 :  <span class="text-danger">*</span></label>
          <input type="text" name="email" id="register-email" value="{{ email }}" class="form-control" placeholder="example@examlp.com">
        </div>  
        <div class="form-group">
          <label for="register-password" class="text-white h5">密碼 :  <span class="text-danger">*</span></label>
          <input type="password" name="password" id="register-password" class="form-control" placeholder="Hello World">
        </div>
        <div class="form-group">
          <label for="register-confirm-password" class="text-white h5">確認密碼 :  <span class="text-danger">*</span></label>
          <input type="password" name="confirmPassword" id="register-confirm-password" class="form-control" placeholder="Hello World">
        </div>
        <div class="form-group">
          <button class="btn btn-success w-100" type="submit">註冊</button>
        </div>
      </form>
      <form action="/auth/facebook" method="GET">
        <button class="btn btn-primary w-100" type="submit">FACEBOOK 登入</button>
      </form>
      <div class="h5 mt-3 mb-0">
        <span class="text-white mr-2">已經註冊過?</span><a href="/users/login">登入</a>
      </div>
    </div>
  </div>
</div>